main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    height: 100vh;           /* full viewport height */
  }
  
  #login form {
    text-align: center;
  }

  #login form label {
    display: block;
  }